body {
  background-color: lightgray;
}
.navbar {
  /* background-color: gray; */
  background-color: black;
  color: rgb(255, 255, 255);
}
.navbar-nav > li > a {
  text-align: center;
  color: rgb(255, 255, 255) !important;
}
.navbar-brand h1 {
  margin: -10px 0 0 0 !important;
  color: white;
}
.tile-title {
  text-align: center;
}
.tiles {
  border: 2px solid black;
  margin-bottom: 10px;
}
.tile-title {
  font-weight: 700;
}

@media (max-width: 767px) {
  .navbar-brand h1 {
    font-size: 1.5em;
  }
}
